* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 100px;
}

header {
    margin-top: -10px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 3;
    background-color: #000000;
    width: 100vw;
    box-shadow: 0 0 25px #000000;
}

header img {
    width: 100px;
    margin: 0 30px;
}

#search-bar input {
    width: 300px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 7px 0 0 7px;
    border: 2px solid #ffffff;
    padding: 0 10px;
    color: #000000;
    font-size: 13px;
    opacity: 50%;
}

#search-bar input:focus {
    opacity: 100%;
}

#cerca {
    width: 50px;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 0 7px 7px 0;
    margin-left: -4px;
    opacity: 50%;
}

#risultati {
    font-size: 13px;
    color: #ffffff;
    margin: 10px 30px 0 30px;
    padding-top: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.scheda {
    background-color: #f2f2f2;
    border-radius: 10px;
    margin: 15px 15px 0 0;
    width: 330px;
    height: 190px;
    list-style: none;
    position: relative;
    color: #262626;
    border-bottom: 3px solid #f44335;
    cursor: pointer;
    display: flex;
    overflow: scroll;
    opacity: 50%;
}

.scheda:hover {
    transform: scale(1.2);
    z-index: 1;
    opacity: 100%;
    box-shadow: 0 0 30px #000000;
}

#area-img {
    width: 100px;
    background-color: red;
    margin-right: 20px;
    object-fit: cover;
}

#img-scheda {
    height: 100%;
    object-fit: fill;
}

#area-txt {
    padding: 10px 10px 10px 20px;
}

.disabled-star {
    opacity: 20%;
}

.active-star {
    color: #F44335;
}

.lingua img {
    margin: 10px 0;
    width: 20px;
    border: 3px solid #ffffff;
    border-radius: 50px;
}
